<a href="https://colab.research.google.com/github/3zero69/-/blob/main/0923_wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [6]:
wine = pd.read_csv('wine.data', sep=",",header=None) # csv 형태에 따라 sep = '구분자' 설정, header = 있는지 없는지 설정
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [7]:
wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis = 1, inplace = True)
# df.drop() : 특정 행/열 제거 + inplace = True 옵션: 원본 데이터도 변경 
wine.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [8]:
wine.columns = ["alcohol","malic_acid","alcalinity_of_ash","magnesium","flavanoids","proanthocyanins","hue"] # df.columns = ['칼럼명1', '칼럼명2', ...] : 칼럼명 직접 지정
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [11]:
wine.alcohol.iloc[:3] = np.NAN # NAN 값 직접 설정
wine.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [13]:
wine.magnesium.iloc[2:4] = np.NAN
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,NaN,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [14]:
wine['alcohol'] = wine['alcohol'].fillna(10) # df.fillna(값) : NaN 값을 특정 값으로 대체
wine['magnesium'] = wine['magnesium'].fillna(100)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 9. Count the number of missing values

In [17]:
wine.isnull().sum() # df.isnull() : NaN 값을 True로 반환, .sum() 취하면 각 열 별 NaN 값 개수 총 합 구함

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [16]:
(wine.isnull().sum()).sum() # 전체 데이터 NaN 값 개수 구하기

0

### Step 10.  Create an array of 10 random numbers up until 10

In [19]:
RandomNum = np.random.randint(0,11,10) # np.random.radint( ) : random 값 array 생성
RandomNum

array([10,  2,  5,  5,  5,  4,  5,  5,  6,  8])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [21]:
wine['alcohol'].iloc[RandomNum] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,100.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
4,NaN,2.59,21.0,118.0,2.69,1.82,1.04

### Step 12.  How many missing values do we have?

In [24]:
(wine.isnull().sum()).sum()

6

### Step 13. Delete the rows that contain missing values

In [25]:
wine = wine.dropna() # df.dropna() : NaN 값이 있는 행 삭제
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
7,14.06,2.15,17.6,121.0,2.51,1.25,1.06
9,13.86,1.35,16.0,98.0,3.15,1.85,1.01
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Step 14. Print only the non-null values in alcohol

In [26]:
wine['alcohol'].dropna()

0      10.00
1      10.00
3      14.37
7      14.06
9      13.86
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 172, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [27]:
wine.reset_index(drop=True) # df.reset_index(): 인덱스를 원래대로 reset /drop=True 옵션:

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,14.37,1.95,16.8,100.0,3.49,2.18,0.86
3,14.06,2.15,17.6,121.0,2.51,1.25,1.06
4,13.86,1.35,16.0,98.0,3.15,1.85,1.01
...,...,...,...,...,...,...,...
167,13.71,5.65,20.5,95.0,0.61,1.06,0.64
168,13.40,3.91,23.0,102.0,0.75,1.41,0.70
169,13.27,4.28,20.0,120.0,0.69,1.35,0.59
170,13.17,2.59,20.0,120.0,0.68,1.46,0.60
171,14.13,4.10,24.5,96.0,0.76,1.35,0.61